<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">Request OTP</h1> 
                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">Email Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="email" v-model="email" required autofocus>
                                <p class="text-danger m-0" v-for="email in errors.email"><small>{{ email }}</small></p>
                            </div>
                        </div>
                        <div class="form-group row" v-if="otp">
                            <label for="description" class="col-md-4 col-form-label text-md-right">OTP</label>
                            <div class="col-md-6">
                                <input type="text" id="otp" name="otp" class="form-control" v-model="otp" readonly/>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button v-if="notProcessing" class="btn btn-primary mr-1" v-on:click="generateOtp">Request OTP</button>
                            <button v-if="notProcessing" class="btn btn-secondary ml-1" v-on:click="resendOtp">Resend OTP</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                otp: null,
                email : '',
                errors: {},
                notProcessing: true
            }
        },
        methods: {
            generateOtp()
            {
                this.notProcessing = false;
                $.ajax({
                    url: '/request-otp',
                    method: 'POST',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    data: { 
                        'email' : this.email,
                    },
                    success: function(response) {
                        if(response.status) {
                            swal({
                                title: "Success",
                                text: response.message,
                                icon: "success",
                            });

                            this.otp = response.token;
                            this.notProcessing = true;

                            return;
                        }

                        swal({
                            title: "Mzansi we have a problem!",
                            text: response.message,
                            icon: "error",
                        });

                        this.otp = null;
                        this.notProcessing = true;
                    }.bind(this),
                    error: function(response) {
                        this.errors = $.parseJSON(response.responseText).errors;
                        this.notProcessing = true;
                    }.bind(this)
                });
            },
            resendOtp()
            {
                this.notProcessing = false;
                $.ajax({
                    url: '/resend-otp',
                    method: 'POST',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    data: { 
                        'email' : this.email,
                    },
                    success: function(response) {
                        if(response.status) {
                            swal({
                                title: "Success",
                                text: response.message,
                                icon: "success",
                            });

                            this.otp = response.token;
                            this.notProcessing = true;

                            return;
                        }

                        swal({
                            title: "Mzansi we have a problem!",
                            text: response.message,
                            icon: "error",
                        });

                        this.otp = null;
                        this.notProcessing = true;
                    }.bind(this),
                    error: function(response) {
                        this.errors = $.parseJSON(response.responseText).errors;
                        this.notProcessing = true;
                    }.bind(this)
                });
            }
        },
    }
</script>
